<h1>To-Do List</h1>
<form method="POST" action="/add">
  <input type="text" name="task" placeholder="Add a task" />
  <button type="submit"  class="add-button">Add</button>
</form>
<ul>
  <% tasks.forEach((task, index) => { %>
  <li class="task-list-container">
    <form action="/checkbox/<%= index %>" method="post">
      <input type="checkbox" name="done" <%= task.done ? "checked" : "" %> onChange="this.form.submit()"/>
    </form>
    <span id="taskText<%= index %>" class=<%= task.done ? "done" : "" %>> 
      <%= task.content %>   
    </span>
    <form method="POST" action="/delete/<%= index %>" style="display: inline;">
      <button type="submit" class="delete-button">Delete</button>
    </form>
  </li>  
  <% }) %>
</ul>

